body {
    background-image: url("../pics/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.banner {
    background-color: whitesmoke;
    text-align: center;
    padding-bottom: 20;
    margin-bottom: 0;
    box-shadow: 0 10px 17px gray;
    position: relative; 
} 
.body {
    background-color: whitesmoke;
    padding: 50px 25px 25px 25px;
    }

.red {
    color: red;
    font-size: 1.0625rem;
}
